#navlogo {
	width: 40px;
	margin-top: -9px;
	
}
body {
	margin: 0px;
	padding: 0px;
	background-color: #5C6468;
	
}
.navbar {
	margin-bottom: 0px;
}
#homebanner {
	margin-top: 0px;
	padding-top: 0px;
	background-color: black;
	height: 100px;
	width: 100%;
}
#banner {
	position:;
	margin: 0px;
	height: auto;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
}
.oplogo {
	top: 100px;
	z-index: 2;
	position: absolute;
}
h2{
	z-index: 300;

}