<style>


h3 {

}

html {
  margin: 0px;
}
p {
    font-family: helvetica;
  }

 body {
  background-color: #E8E8E8;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;

}
#maintext {
background-color: #669999;
border: solid 1px #000000;
padding: 15px;
margin-bottom: 25px;
color: #000000;
}
#headingtext {
  background-color: #669999;
  border: solid 2px #006666;
  padding: 20px;
  margin-bottom: 20;
}
#famphoto {
  padding: 30px;
  margin-bottom: 20px;
  width:50%;
}

</style>
