html{

	margin: 0;
	padding-bottom: 50px;
}
body {
    background-image: url(../img/hexbackground2.png);
    background-color: ;
    background-size: cover;
}
.jumbotron {
	background-image: url(../img/river.jpg);
	background-size: cover;
	height: 100%;
	margin-top: -20px;
	min-height: 400px;
	position: relative;
	background-position: 20% 50%;
}

.jumboTitle {

	margin-top: 15px;
	margin-left: 15px;
	font-family: 'Righteous', cursive;
}

#buildings {

	width: 50%;
	height: auto;
	display: block;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

#lake {

	width: 50%;
	height: auto;
	display: block;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.absoluteCenter {

	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;

}

#title {

	margin-bottom: 35px;
}

.fa-github {
  color: gray;
}

.gitfooter {
	color: white;
	position: absolute;
    left: 15px;
    top: 10px;
}

.photoTitle {

	font-size: 45px;

}

.box {
    width: 300px;
    height: 100px;
    border: 1px solid blue;
    box-sizing: border-box;
}
.green {

	background-color: green;
}

#thumbs {

	width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;

}

/* Gallery css */

/*body {
    padding-top: 70px;  Required padding for .navbar-fixed-top. Change if height of navigation changes. 
}*/

.thumb {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

/* super simple light box mumbo jumbo*/

.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: auto;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
.white_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 35%;
	height: 50%;
	padding: 16px;
	border: 9px solid gray;
	background-color: white;
	z-index:1002;
	overflow: auto;
}
small {

	margin-bottom: 50px;


}














