
body {
  background-color: rgba(39,55,121, .25);
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#heading {
  font-family: sans-serif;
  color: rgba(39,55,121, 1));

}
/* -------navbar styles------ */
.navcolor {
	background-color: #082445 !important;
  color: white !important;
  border-color: white;
}
.innernav {
  background-color: blue;
  color: white;
}
#profpics {
  max-width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: auto;
}

.displayNone{
  display: none;
}


h1 {
  font-size: 50px;
  text-align: center;
  font-family: serif;
}
#homepics {
  background-color:#082445;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  padding-top:  15px;
}
#homepicsrow {
  border-radius: 25px;
}
#headingSethProfile{
    background-color: #082445;
    width: 69%;
    padding: 25px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'Lobster';
    overflow: auto;
}

#headingindex {
    background-color: #082445;
    width: 57%;
    padding: 25px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'Lobster';
    overflow: auto;
}
#keystone {
  font-family: 'Lobster';
  color: white;
}


h1 {
  font-size: 50px;
  text-align: center;
  font-family: serif;
}
h2 {
  font-size: 50px;
  text-align: center;
  font-family: sans-serif;
  color: white;
  text-shadow: 2px 2px #082445;
}
h3 {
  font-size: 50px;
  text-align: center;
  font-family: 'Lobster';
  text-shadow: 4px 4px #04083c;
  color: white;
}
h4 {
  font-size: 45px;
  font-family: sans-serif;
  color: white;
  text-align: center;
}
h5 {
  font-size: 25px;
  color: white;
}
#homeblurb {
  margin-bottom: 15px;
}
.lobsterfont {
  font-family: 'Lobster';
  font-size: 50px;
  text-align: center;

}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.footer {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #082445;
}
#footercenter {
	padding-top: auto;
	padding-bottom: auto;
}



/* seths css*/
.centerText{
  text-align: center;
}
.floatFields{
  text-align: center;
}





/* Centre the form within the page */
form {
    margin:0 auto;
  }

/* Style the text boxes */
input, textarea {
    width:43%;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

textarea {
  height:213px;
  background:url(images/textarea-bg.jpg) right no-repeat #efefef;
}
#kitelogo {
  max-width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: auto;
}

.profileBoxHeight{
  overflow: auto;
}
.centerplz {
  text-align: center;
}








.bss-slides{
  position: relative;
  display: block;
}
.bss-slides:focus{
 outline: 0;
}
.bss-slides figure{
  position: absolute;
  top: 0;
  width: 100%;
}
.bss-slides figure:first-child{
  position: relative;
}
.bss-slides figure img{
  opacity: 0;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.bss-slides .bss-show{
  z-index: 2;
}
.bss-slides .bss-show img{
  opacity: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
}

.bss-slides figcaption{
  position: absolute;
  font-family: sans-serif;
  font-size: .8em;
  bottom: .75em;
  right: .35em;
  padding: .25em;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .25);
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
}
.bss-slides .bss-show figcaption{
  z-index: 3;
  opacity: 1;
}
.bss-slides figcaption a{
  color: #fff;
}
.bss-next, .bss-prev{
  color: #fff;
  position: absolute;
  background: #000;
  background: rgba(0,0,0, .6);
  top: 50%;
  z-index: 4;
  font-size: 2em;
  margin-top: -1.2em;
  opacity: .3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.bss-next:hover, .bss-prev:hover{
  cursor: pointer;
  opacity: 1;
}
.bss-next{
  right: -1px;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.bss-prev{
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.bss-fullscreen{
  display: block;
  width: 32px;
  height: 32px;
  background: rgba(0,0,0,.4) url(../img/arrows-alt_ffffff_64.png);
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
  opacity: .3;
}
.bss-fullscreen:hover{
  opacity: .8;
}
:-webkit-full-screen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(../img/compress_ffffff_64.png);
    -webkit-background-size: contain;
    background-size: contain;
}
:-moz-full-screen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(../img/compress_ffffff_64.png);
    background-size: contain;
}
:-ms-fullscreen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(../img/compress_ffffff_64.png);
    background-size: contain;
}
:full-screen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(../img/compress_ffffff_64.png);
    -webkit-background-size: contain;
    background-size: contain;
}
:-webkit-full-screen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(../img/compress_ffffff_64.png);
    -webkit-background-size: contain;
    background-size: contain;
}
:-moz-full-screen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(../img/compress_ffffff_64.png);
    background-size: contain;
}
:-ms-fullscreen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(../img/compress_ffffff_64.png);
    background-size: contain;
}
:fullscreen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(../img/compress_ffffff_64.png);
    -webkit-background-size: contain;
    background-size: contain;
}
